/* normalize */
/* body */
body {
  margin: 0;
  max-width: 100vw;
}
/* lists */
li {
  list-style: none;
}
ul {
  padding: 0;
}
/* links */
a {
  text-decoration: none;
  color: $base-secondary; /* black */
}
