/* google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* page/body */
.page {
  color: $txt-primary; /* black */
  font: {
    size: 1rem;
    family: $font-family-body;
    weight: $font-weight-regular;
  }
  line-height: 1.5;
  @include for-size(large) {
    font-size: 1.2rem;
  }
}

/* headings */
/* page title */
.page-title {
  font: {
    family: $font-family-heading;
    weight: $font-weight-regular;
    size: 1.5rem;
  }
  line-height: 1.5;
  text-align: center;
  margin-top: 30px;
  @include for-size(large) {
    font-size: 3.1rem;
  }
  &--subpage {
    margin-bottom: 20px;
    @include for-size(xx-large) {
      margin: 70px 0px 80px 0px;
    }
  }
  &--news {
    text-align: left;
  }
  &--property-bold {
    font-weight: $font-weight-bold;
  }
}
/* page home title */
.title-section__page-title {
  font: {
    family: $font-family-heading;
    weight: $font-weight-regular;
    size: 1.3rem;
  }
  line-height: 1.5;
  text-align: center;
  @include for-size(large) {
    font-size: 3.5rem;
  }
}
/* page home properties title */
.properties__title {
  font: {
    family: $font-family-heading;
    weight: $font-weight-regular;
    size: 1.5rem;
  }
  line-height: 1.5;
  text-align: center;
  @include for-size(large) {
    font-size: 3.1rem;
  }
}

/* header navigation */
.header {
  &__nav-menu {
    text-align: center;
    @include for-size(large) {
      text-align: right;
    }
  }
  &__nav-item {
    &--sm {
      line-height: 0;
    }
  }
  &__nav-link {
    font-size: 2rem;
    line-height: 2;
    text-decoration: none;
    color: $txt-primary; /* black */
    @include for-size(large) {
      font: {
        size: 1.3rem;
        weight: $font-weight-medium;
      }
    }
    &--active {
      @include for-size(large) {
        color: $txt-tertiary; /* white */
      }
    }
    &--sm {
      font-size: 1rem;
    }
  }
}

/* footer */
.footer {
  &__address {
    font-style: normal;
  }
  &__link-item {
    color: $txt-primary; /* black */
  }
  &__link-item--bold {
    font-weight: $font-weight-bold;
  }
}

/* index page */
/* search form */
.properties {
  &__label {
    font-weight: $font-weight-bold;
  }
  &__select {
    font: {
      family: $font-family-body;
      size: 1rem;
    }
  }
  &__button {
    font: {
      family: $font-family-body;
      weight: $font-weight-bold;
      size: 1rem;
    }
    &--load-more {
      font-size: 1.3rem;
    }
  }
  /* toggle switch */
  &__switch-value {
    font-weight: $font-weight-bold;
  }
  &__switch-value--unchecked {
    color: $txt-secondary; /* dark green */
  }
  /* end of toggle switch */
  &__view-label {
    font: {
      weight: $font-weight-bold;
      size: 1.4rem;
    }
    color: $txt-secondary; /* dark green */
  }
}

/* news overview page */
.news-overview {
  &__element-category {
    font-weight: $font-weight-bold;
  }
  &__element-button {
    font-family: $font-family-body;
    font-weight: $font-weight-bold;
    font-size: 1rem;
    @include for-size(large) {
      font-size: 1.3rem;
    }
  }
  &__element-specs {
    @include for-size(large) {
      font-size: 1rem;
    }
  }
}

/* news page */
.news {
  &__specs {
    @include for-size(large) {
      font-size: 1rem;
    }
  }
  &__category {
    font-weight: $font-weight-bold;
  }
  &__button-back {
    font: {
      family: $font-family-body;
      weight: $font-weight-bold;
      size: 1.3rem;
    }
  }
}

/* contact page */
.contact {
  &__information {
    &--links {
      color: $txt-primary; /* black */
      text-decoration: none;
    }
  }
  &__information-address {
    font-style: normal;
  }
  &__link-item {
    color: $txt-primary; /* black */
  }
  &__link-item--bold {
    font-weight: $font-weight-bold;
  }
}

/* property pages */
.property-back {
  &__text {
    font-weight: $font-weight-bold;
  }
}

.property-information {
  &__title {
    font-weight: $font-weight-bold;
  }
  &__button-interest {
    font: {
      family: $font-family-body;
      weight: $font-weight-bold;
      size: 1rem;
    }
    margin-top: 25px;
  }
}

.latest-properties {
  &__title {
    text-align: center;
    padding: 0 0 30px 0;
  }
  &__all-link {
    font-weight: $font-weight-bold;
  }
}
