/* abstracts */
/* media queries */
/* colors */
/* base (tier 1) */
/* white */
/* grey */
/* brand (tier 1) */
/* dark-green */
/* light-green */
/* dark-green transparency */
/* background (tier 2) */
/* light-green */
/* dark-green */
/* white */
/* text (tier 2) */
/* black */
/* dark-green */
/* button (tier 2) */
/* dark-green */
/* grey */
/* black */
/* white */
/* typography */
/* font family */
/* font weight */
/* base */
/* page/body */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
.page {
  margin: 0;
  background-color: #e5eeec;
}

/* lists */
/*
li {
  list-style: none;
}
ul {
  padding: 0;
}
/* links 
a {
  text-decoration: none;
  color: $base-secondary; /* black 
}
*/
/* google fonts import */
/* page/body */
.page {
  color: #000000; /* black */
  font-size: 1.3rem;
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .page {
    font-size: 1.3rem;
  }
}

/* headings */
/* page title */
.page-title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 992px) {
  .page-title {
    font-size: 3.1rem;
  }
}

/* page home title */
.title-section__page-title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 992px) {
  .title-section__page-title {
    font-size: 3.5rem;
  }
}

/* page home properties title */
.properties__title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 992px) {
  .properties__title {
    font-size: 3.1rem;
  }
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $font-family-heading;
    weight: $font-weight-regular;
  }
}
h1 {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  @include for-size(large) {
    font-size: 3.5rem;
  }
}*/
h2 {
  font-size: 2rem;
  line-height: 1.5;
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }
}

/* header navigation */
.header__nav-menu {
  text-align: center;
}
@media (min-width: 992px) {
  .header__nav-menu {
    text-align: right;
  }
}
.header__nav-link {
  font-size: 2rem;
  line-height: 2;
}
@media (min-width: 992px) {
  .header__nav-link {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .header__nav-link--active {
    color: #ffffff;
  }
}
.header__nav-link--sm {
  font-size: 1rem;
}

/* footer */
.footer__address {
  font-style: normal;
}
.footer__link-item {
  color: #000000; /* black */
}
.footer__link-item--bold {
  font-weight: 700;
}

/* index page */
/* search form */
.properties__label {
  font-weight: 700;
}

/* components */
/* layout */
.header {
  background-color: #92b9af; /* dark-green */
  padding: 15px 22px 15px 22px;
  height: 50px;
}
@media (min-width: 992px) {
  .header {
    background-color: rgba(146, 185, 175, 0.85); /* dark-green transparency */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px 20px 45px;
    height: 90px;
  }
}
.header__logo-img {
  height: 50px;
  position: absolute;
  z-index: 100;
}
@media (min-width: 992px) {
  .header__logo-img {
    position: static;
    height: 80px;
  }
}
.header__nav-menu {
  position: fixed;
  transform: translateY(-100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #92b9af; /* dark-green */
  padding-top: 150px;
  padding-left: 0;
  margin: 0;
  max-height: 100vh;
}
@media (min-width: 992px) {
  .header__nav-menu {
    position: static;
    padding-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 35px;
    transform: none;
    background-color: transparent;
  }
}
.header__nav-menu--show {
  transform: translateY(0);
}
.header__nav-item {
  list-style: none;
}
.header__nav-item--sm {
  line-height: 0;
}
.header__nav-item--sm-first {
  margin-top: 60px;
}
@media (min-width: 992px) {
  .header__nav-item--sm {
    display: none;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #000000; /* black */
}
@media (min-width: 992px) {
  .header__nav-link--active {
    color: #ffffff; /* white */
  }
}
.header__nav-hamburger {
  position: absolute;
  top: 25.5px;
  right: 17px;
  cursor: pointer;
  z-index: 100;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  .header__nav-hamburger {
    display: none;
  }
}
.header__nav-hamburger-img--close {
  display: none;
  width: 30px;
}

.footer {
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 992px) {
  .footer__logo {
    display: inline-block;
    margin-top: 18px;
  }
}
.footer__logo-img {
  max-width: 100%;
}
.footer__link-list {
  padding-left: 0;
}
.footer__link-list-item {
  list-style: none;
}
.footer__link-item {
  text-decoration: none;
}
.footer__scroll-to-top-button {
  display: none;
}
@media (min-width: 768px) {
  .footer__scroll-to-top-button {
    display: inline-block;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    background-color: #92b9af;
    border: none;
    padding-top: 12px;
  }
}
@media (min-width: 768px) {
  .footer__button-arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    margin: auto;
    /*transform: rotate(-135deg);*/
    -webkit-transform: rotate(-135deg);
  }
}

/* main grid */
.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
@media (min-width: 1400px) {
  .grid {
    grid-template: 1fr 1fr/repeat(12, 1fr);
    gap: 20px 70px;
  }
}

/* pages */
/* hero image */
.hero {
  background-image: url("../assets/images/jpg/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 370px;
}
@media (min-width: 576px) {
  .hero {
    background-position: center;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 450px;
  }
}
@media (min-width: 992px) {
  .hero {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 700px;
  }
}
@media (min-width: 1400px) {
  .hero {
    height: 822px;
  }
}

/* title */
.title-section {
  background-color: #ffffff;
}
.title-section__page-title {
  margin: 0;
  padding: 20px;
}
@media (min-width: 992px) {
  .title-section__page-title {
    padding: 50px 300px 50px 300px;
  }
}

/* properties section */
.properties__title {
  text-align: center;
}
.properties__form-item--object {
  grid-column: 1/4;
}

/*# sourceMappingURL=main.css.map */
