// colors
// base (tier 1)
$base-primary: #ffffff; // white
$base-secondary: #000000; // black
$base-tertiary: #878787; // grey
// brand (tier 1)
$brand-primary: #92b9af; // dark-green
$brand-secondary: #e5eeec; // light-green
// background (tier 2)
$bg-primary: $brand-secondary; // light-green
$bg-secondary: $brand-primary; // dark-green
$bg-tertiary: $base-primary; // white
// text (tier 2)
$txt-primary: $base-secondary; // black
$txt-secondary: $brand-primary; // dark-green
// button (tier 2)
$btn-primary: $brand-primary; // dark-green
$btn-secondary: $base-tertiary; // grey
$btn-tertiary: $base-secondary; // black
$btn-txt: $base-primary; // white
