.news {
  &__element {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include for-size(xx-large) {
      flex-direction: row;
      grid-column: 2 / 12;
      gap: 80px;
    }
    &--right {
      @include for-size(xx-large) {
        flex-direction: row-reverse;
        grid-column: 4 / 14;
        gap: 40px;
      }
    }
  }
  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__element-picture {
    @include for-size(xx-large) {
      grid-column: 2 / 7;
      grid-row: 1;
    }
    &--right {
      @include for-size(xx-large) {
        grid-column: 9 / 14;
        justify-self: end;
      }
    }
  }
  &__element-picture-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include for-size(xx-large) {
      height: 400px;
      width: 600px;
    }
  }
  &__element-specs {
    margin-bottom: 7px;
    display: flex;
    gap: 20px;
    @include for-size(xx-large) {
      grid-column: 7 / 13;
      grid-row: 1;
    }
  }
  &__element-category {
    margin: 0;
  }
  &__element-date {
    margin: 0;
  }
  &__element-teaser {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
