/* hero image */
.hero {
  background: {
    image: url("../assets/images/jpg/home-header.jpg");
    repeat: no-repeat;
    size: cover;
    position: top;
  }
  height: 370px;
  @include for-size(small) {
    background: {
      position: center;
    }
  }
  @include for-size(medium) {
    height: 450px;
  }
  @include for-size(large) {
    height: 600px;
  }
  @include for-size(x-large) {
    height: 700px;
  }
  @include for-size(xx-large) {
    height: 822px;
  }
}
/* properties section */
.title-section {
  background-color: $base-primary;
  &__page-title {
    margin: 0;
    padding: 20px;
    @include for-size(large) {
      padding: 50px 300px 50px 300px;
    }
  }
}
