/* hero image */
.hero {
  background: {
    image: url("../assets/images/jpg/home-header.jpg");
    repeat: no-repeat;
    size: 110%;
    position: center;
  }
  height: 285px;
  @include for-size(small) {
    background: {
      position: center;
    }
  }
  @include for-size(medium) {
    height: 450px;
  }
  @include for-size(large) {
    height: 600px;
  }
  @include for-size(x-large) {
    height: 700px;
  }
  @include for-size(xx-large) {
    height: 822px;
    margin-top: -130px;
  }
}
/* title */
.title-section {
  background-color: $bg-tertiary; /* white */
  &__page-title {
    margin: 0;
    padding: 20px;
    @include for-size(large) {
      padding: 50px 300px 50px 300px;
    }
  }
}
/* properties section */
.properties {
  padding: 30px 0px 50px 0px;
  &__title {
    text-align: center;
  }
  &__form-item {
    &--object {
      grid-column: 2 / 3;
      @include for-size(xx-large) {
        grid-column: 2 / 6;
        order: 1;
      }
    }
    &--location {
      grid-column: 2 / 3;
      @include for-size(xx-large) {
        grid-column: 6 / 10;
        order: 2;
      }
    }
    &--sort {
      grid-column: 2 / 3;
      @include for-size(xx-large) {
        grid-column: 2 / 6;
        order: 4;
      }
    }
    /* toggle switch */
    &--toggle {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin: 25px 0px;
      grid-column: 2 / 3;
      @include for-size(xx-large) {
        grid-column: 10 / 14;
        order: 3;
        align-self: end;
        margin: 10px 0px;
      }
    }
  }
  &__switch-input {
    display: none;
    + .properties__switch-label {
      outline: 0;
      display: block;
      width: 70px;
      height: 17px;
      position: relative;
      cursor: pointer;
      user-select: none;
      &::after,
      &::before {
        position: relative;
        display: block;
        content: "";
        width: 17px;
        height: 100%;
      }
      &::after {
        left: 0;
      }
      &::before {
        display: none;
      }
    }
    &:checked + .properties__switch-label::after {
      left: 53px;
    }
    + .properties__switch-label {
      background: $bg-tertiary; /* white */
      border-radius: 32px;
      padding: 4px;
      transition: all 0.7s ease;
      &::after {
        border-radius: 50%;
        background: $bg-secondary; /* dark green */
        transition: all 0.5s ease;
      }
    }
    &:checked + .properties__switch-label {
      background: $bg-secondary; /* dark green */
      &::after {
        background: $bg-tertiary; /* white */
      }
    }
  }
  /* end of toggle switch */
  &__label {
    display: block;
    padding-bottom: 10px;
  }
  &__select {
    width: 100%;
    height: 47px;
    border: none;
    appearance: none;
    outline: none;
    padding: 10px;
    background-color: $bg-tertiary; /* white */
    background: {
      image: url(../assets/images/svg/arrow-drop-down.svg);
      repeat: no-repeat;
      position: right 20px center;
      size: 20px;
    }
    &--active {
      background-image: url(../assets/images/svg/arrow-drop-down-up.svg);
      border: none;
      box-shadow: none;
    }
    &--no-dropdown {
      background-image: none;
    }
  }
  /* properties view */
  &__view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 3;
    margin-top: 35px;
    &-label {
      margin: 0;
    }
    @include for-size(xx-large) {
      grid-column: 10 / 14;
      order: 6;
      margin-top: 140px;
    }
  }
  &__elements {
    grid-column: 2 / 3;
    border-top: solid 3px $bg-secondary; /* dark green */
    @include for-size(xx-large) {
      grid-column: 2 / 14;
      order: 7;
    }
  }
  &__element-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin: 30px 0 20px 0;
  }
  &__element-status {
    margin: 5px 0 5px 0;
  }
  &__element-location {
    margin: 5px 0 5px 0;
  }
  &__element-title {
    margin: 5px 0 5px 0;
  }
  &__element-value {
    margin: 5px 0 5px 0;
  }
  /* page reference */
  &__page-reference {
    display: none;
    @include for-size(medium) {
      display: block;
    }
  }
}
