.contact {
  margin-bottom: 45px;
  font-size: 1.1rem;
  @include for-size(xx-large) {
    margin-bottom: 100px;
  }
  &__maps {
    grid-column: 2 / 3;
    height: 250px;
    width: 100%;
    border: 1.5px solid $bg-secondary; /* dark-green */
    @include for-size(xx-large) {
      grid-column: 3 / 13;
      height: 370px;
      border-width: 1px;
    }
  }
  &__information {
    grid-column: 2 / 3;
    @include for-size(xx-large) {
      grid-column: 3 / 13;
    }
  }
  &__links {
    grid-column: 2 / 3;
    @include for-size(xx-large) {
      display: none;
    }
  }
  &__link-list {
    padding-left: 0;
    &-item {
      list-style: none;
    }
  }
  &__link-item {
    text-decoration: none;
  }
}

/* google maps */
/* remove copyright */
.gmnoprint {
  display: none;
}
