.property-back {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  &__arrow {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    height: 22px;
  }
}

.slider {
  grid-column: 2 / 3;
  margin-bottom: 30px;
  @include for-size(xx-large) {
    grid-column: 4 / 12;
  }
  &__picture-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include for-size(xx-large) {
      height: 500px;
    }
  }
  &__thumbnails {
    display: none;
    @include for-size(xx-large) {
      display: block;
    }
  }
  &__thumbnail-column {
    @include for-size(xx-large) {
      display: flex;
      gap: 12px;
    }
  }
  &__thumbnail-picture-img {
    width: 110px;
    height: 65px;
    object-fit: cover;
  }
}

.property-information {
  &__category {
    grid-column: 2 / 3;
    @include for-size(xx-large) {
      grid-column: 4 / 7;
    }
    &--right {
      @include for-size(xx-large) {
        grid-column: 7 / 12;
        grid-row: 1 / 4;
      }
    }
  }
  &__title {
    margin: 0 0 5px 0;
  }
  &__specs {
    margin: 0;
  }
  &__map {
    grid-column: 2 / 3;
    height: 220px;
    width: 100%;
    margin: 15px 0 15px 0;
    @include for-size(xx-large) {
      height: 300px;
      grid-column: 4 / 12;
      margin-top: -10px;
    }
  }
  &__interest {
    grid-column: 2 / 3;
    @include for-size(xx-large) {
      grid-column: 7 / 12;
      grid-row: 3 / 5;
      align-self: end;
    }
  }
  &__modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $bg-secondary;
    border: none;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  &__modal-element {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
  }
  &__modal-input {
    height: 40px;
  }
}

.latest-properties {
  grid-column: 2 / 3;
  &__element-picture-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  &__all {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
  }
  &__all-arrow {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    height: 22px;
  }
}
