<footer class="footer">
    <!-- logo -->
    <picture class="footer__logo">
        <source srcset="./assets/images/svg/logo.svg?as=avif" type="image/avif" />
        <source srcset="./assets/images/svg/logo.svg?as=avif?as=webp" type="image/webp" />
        <img src="./assets/images/svg/logo.svg?as=avif" alt="logo-house-and-home" class="footer__img"/>
    </picture>
    <!-- contact information -->
    <div>
        <address class="footer__address"> 
            <b>Home & House</b><br />
            Fabrikstrasse 24<br />
            9472 Grabs<br />
            Schweiz<br />

            <a href="tel:081.740.00.00">081 740 00 00</a><br />
            <a href="mailto:info@homehouse.ch">info@homehouse.ch</a>
        </address>
    </div>
    <!-- further links -->
    <div class="footer__links">
        <a href="">Immobilien</a>
        <a href="">Aktuelles</a>
        <a href="">Kontakt</a>

        <a href="">Impressum</a>
        <a href="">Datenschutz</a>
    </div>
</footer>