<footer class="footer">
  <!-- logo -->
  <picture class="footer__logo">
    <source srcset="./assets/images/svg/logo.svg?as=avif" type="image/avif" />
    <source srcset="./assets/images/svg/logo.svg?as=webp" type="image/webp" />
    <img
      src="./assets/images/svg/logo.svg"
      alt="Logo Home & House"
      class="footer__img"
    />
  </picture>
  <!-- contact information -->
  <div class="footer__contact-information">
    <address>
      <b>Home & House</b><br />
      Fabrikstrasse 24<br />
      9472 Grabs<br />
      Schweiz<br />

      <a href="tel:081.740.00.00">081 740 00 00</a><br />
      <a href="mailto:info@homehouse.ch">info@homehouse.ch</a>
    </address>
  </div>
  <!-- further links -->
  <div class="footer__links">
    <div class="footer__links-row">
      <a href="" class="footer__links-items">Immobilien</a>
      <a href="" class="footer__links-items">Aktuelles</a>
      <a href="" class="footer__links-items">Kontakt</a>
    </div>
    <div class="footer__links-row">
      <a href="" class="footer__links-items">Impressum</a>
      <a href="" class="footer__links-items">Datenschutz</a>
    </div>
  </div>
  <!-- scroll to top button (only on desktop)-->
  <button class="footer__scroll-to-top-button">
    <span class="footer__button-arrow"></span>
  </button>
</footer>
