<header class="header">
  <!-- logo -->
  <a href="#">
    <picture class="header__logo">
      <source srcset="./assets/images/svg/logo.svg?as=avif" type="image/avif" />
      <source srcset="./assets/images/svg/logo.svg?as=webp" type="image/webp" />
      <img
        src="./assets/images/svg/logo.svg"
        alt="Logo Home & House"
        class="header__logo-img"
      />
    </picture>
  </a>
  <!-- navigation -->
  <div class="header__nav">
    <nav class="header__nav-bar">
      <ul class="header__nav-menu">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link header__nav-link--active"
            >Immobilien</a
          >
        </li>
        <li class="header__nav-item">
          <a href="#aktuelles" class="header__nav-link">Aktuelles</a>
        </li>
        <li class="header__nav-item">
          <a href="#kontakt" class="header__nav-link">Kontakt</a>
        </li>
        <li
          class="header__nav-item header__nav-item--sm header__nav-item--sm-first"
        >
          <a href="#impressum" class="header__nav-link header__nav-link--sm"
            >Impressum</a
          >
        </li>
        <li class="header__nav-item header__nav-item--sm">
          <a href="#datenschutz" class="header__nav-link header__nav-link--sm"
            >Datenschutz</a
          >
        </li>
      </ul>
      <!-- navigation hamburger -->
      <button class="header__nav-hamburger">
        <picture class="header__nav-hamburger-icon">
          <source
            srcset="./assets/images/svg/hamburger.svg?as=avif"
            type="image/avif"
          />
          <source
            srcset="./assets/images/svg/hamburger.svg?as=webp"
            type="image/webp"
          />
          <img
            src="./assets/images/svg/hamburger.svg"
            alt="Hamburger Menü Icon"
            class="header__nav-hamburger-img"
          />
        </picture>
        <picture class="header__nav-hamburger-icon--close">
          <source
            srcset="./assets/images/svg/hamburger-close.svg?as=avif"
            type="image/avif"
          />
          <source
            srcset="./assets/images/svg/hamburger-close.svg?as=webp"
            type="image/webp"
          />
          <img
            src="./assets/images/svg/hamburger-close.svg"
            alt="Hamburger Menü Icon"
            class="header__nav-hamburger-img--close"
          />
        </picture>
      </button>
    </nav>
  </div>
</header>
