<header class="header">
  <!-- logo -->
  <picture class="header__logo">
    <source srcset="./assets/images/svg/logo.svg?as=avif" type="image/avif" />
    <source
      srcset="./assets/images/svg/logo.svg?as=avif?as=webp"
      type="image/webp"
    />
    <img
      src="./assets/images/svg/logo.svg?as=avif"
      alt="logo-house-and-home"
      class="header__img"
    />
  </picture>
  <!-- navigation -->
  <div class="navigation">
    <div>
      <nav class="navigation__bar">
        <ul class="navigation__menu">
          <li class="navigation__item">
            <a href="#" class="navigation__link">Immobilien</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Aktuelles</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Kontakt</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link navigation__link--small"
              >Impressum</a
            >
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link navigation__link--small"
              >Datenschutz</a
            >
          </li>
        </ul>
        <!-- navigation hamburger -->
        <div class="hamburger">
          <span class="hamburger__bar"></span>
          <span class="hamburger__bar"></span>
          <span class="hamburger__bar"></span>
        </div>
      </nav>
    </div>
  </div>
</header>
