/* home properties buttons */
.properties {
  &__button {
    grid-column: 2 / 3;
    height: 47px;
    border: none;
    background-color: $btn-primary; /* dark green */
    color: $btn-txt; /* white */
    &:hover {
      background-color: $btn-secondary; /* grey */
    }
    @include for-size(xx-large) {
      grid-column: 10 / 14;
      order: 5;
      align-self: end;
    }
    &--load-more {
      grid-column: 2 / 3;
      @include for-size(xx-large) {
        display: none;
      }
    }
    &--load-more-hidden {
      display: none;
    }
  }
}
/* footer scroll-to-top button */
.footer {
  &__scroll-to-top-button {
    display: none;
    &:hover {
      background-color: $btn-secondary; /* grey */
    }
    @include for-size(medium) {
      display: inline-block;
      align-self: flex-end;
      width: 50px;
      height: 50px;
      background-color: $btn-primary; /* dark green */
      border: none;
      padding-top: 12px;
      cursor: pointer;
    }
  }
  &__button-arrow {
    @include for-size(medium) {
      border: solid $btn-txt; /* white */
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 6px;
      margin: auto;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }
}

/* news overview page */
.news-overview {
  &__element-button {
    grid-column: 2 / 3;
    width: 115px;
    height: 45px;
    background-color: $btn-primary;
    color: $btn-txt;
    border: none;
    @include for-size(xx-large) {
      width: 150px;
      height: 45px;
    }
  }
}

/* news pages */
.news {
  &__button-back {
    width: 140px;
    height: 45px;
    border: none;
    background-color: $btn-primary; /* dark green */
    color: $btn-txt; /* white */
    grid-column: 2 / 3;
    margin: 20px 0px 80px 0px;
    &:hover {
      background-color: $btn-secondary; /* grey */
    }
    @include for-size(xx-large) {
      grid-column: 4 / 12;
    }
  }
}

/* property pages */
.property-information {
  &__button-interest {
    border: none;
    background-color: $btn-primary; /* dark green */
    color: $btn-txt; /* white */
    height: 45px;
    width: 100%;
    @include for-size(xx-large) {
      margin: 10px 0 0 0;
      width: 400px;
    }
  }
  &__modal-button {
    border: none;
    background-color: $btn-tertiary; /* black */
    color: $btn-txt; /* white */
    height: 45px;
    width: 100%;
    margin: 15px 0 70px 0;
    @include for-size(xx-large) {
      margin: 0;
      width: 300px;
      align-self: end;
    }
  }
}
