/* main grid */
.grid {
  display: grid;
  grid-template-columns: 0.6fr 10fr 0.6fr;
  grid-row-gap: 20px;
  @include for-size(small) {
  }
  @include for-size(medium) {
  }
  @include for-size(large) {
  }
  @include for-size(x-large) {
  }
  @include for-size(xx-large) {
    grid-template: 1fr / repeat(14, 1fr);
    gap: 40px 100px;
  }
  /* index page grid (properties search) */
  &--properties-search {
    grid-template-columns: 1fr 10fr 1fr;
    @include for-size(xx-large) {
      grid-template: 1fr / repeat(14, 1fr);
      gap: 40px 100px;
    }
  }
  /* news overview page */
  &--news-overview {
    margin-bottom: 60px;
    @include for-size(xx-large) {
      margin-bottom: 120px;
    }
  }
  &--news-overview-last {
    margin-bottom: 50px;
    @include for-size(xx-large) {
      margin-bottom: 100px;
    }
  }
}
