.header {
  background-color: $brand-primary; /* dark-green */
  padding: 15px 22px 15px 22px;
  height: 50px;
  @include for-size(large) {
    background-color: $brand-primary-transp; /* dark-green transparency */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px 20px 45px;
    height: 90px;
  }
  &__logo-img {
    height: 50px;
    position: absolute;
    z-index: 100;
    @include for-size(large) {
      position: static;
      height: 80px;
    }
  }
  &__nav-menu {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: $brand-primary; /* dark-green */
    padding-top: 150px;
    margin: 0;
    max-height: 100vh;
    @include for-size(large) {
      position: static;
      padding-top: 0px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 35px;
      transform: none;
      background-color: transparent;
    }
    &--show {
      transform: translateY(0);
    }
  }
  &__nav-item--sm {
    line-height: 0;
    &-first {
      margin-top: 60px;
    }
    @include for-size(large) {
      display: none;
    }
  }
  &__nav-hamburger {
    position: absolute;
    top: 25.5px;
    right: 17px;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    border: none;
    @include for-size(large) {
      display: none;
    }
    &-img--close {
      display: none;
      width: 30px;
    }
  }
}
